# Deploy ML model

Machine learning models are only valuable if they can be used to make predictions or classifications on new data. Therefore, deploying a machine learning model is an essential step in the machine learning workflow. This repository provides a practical guide on how to save a machine learning model using Pickle, a Python library that allows the serialization and deserialization of Python objects, and deploy it using Streamlit, a popular web application framework.

We'll start by exploring the basics of Pickle, including how to use it to save and load machine learning models. We'll then cover how to use Streamlit to create a user interface for the machine learning model. Streamlit is a powerful tool that allows developers to create interactive web applications quickly and easily. We'll use Streamlit to create a simple web application that allows users to input data and receive predictions from the saved machine learning model.

By the end of this repository, you'll have a good understanding of how to save a machine learning model using Pickle and deploy it using Streamlit. You'll be able to use these techniques to create your own web applications that use machine learning models to make predictions or classifications on new data.

In [9]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [10]:
diabetes_dataset = pd.read_csv('/content/diabetes.csv')

In [11]:
diabetes_dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [12]:
print (diabetes_dataset.shape)
diabetes_dataset.describe()

(768, 9)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [13]:
diabetes_dataset['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

0 --> Non-Diabetic

1 --> Diabetic

In [14]:
diabetes_dataset.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [15]:
copy =diabetes_dataset.copy()

In [18]:
diabetes_dataset.head()

   Glucose  BloodPressure  Insulin   BMI  Outcome
0      148             72        0  33.6        1
1       85             66        0  26.6        0
2      183             64        0  23.3        1
3       89             66       94  28.1        0
4      137             40      168  43.1        1

In [16]:
# Remove three columns as index base
diabetes_dataset.drop(diabetes_dataset.columns[[0,3,6,7]], axis=1, inplace=True)

In [17]:
diabetes_dataset.head()

   Glucose  BloodPressure  Insulin   BMI  Outcome
0      148             72        0  33.6        1
1       85             66        0  26.6        0
2      183             64        0  23.3        1
3       89             66       94  28.1        0
4      137             40      168  43.1        1

In [19]:
# separating the data and labels
X = diabetes_dataset.drop(columns = 'Outcome', axis=1)
Y = diabetes_dataset['Outcome']

In [20]:
print(X)

     Glucose  BloodPressure  Insulin   BMI
0        148             72        0  33.6
1         85             66        0  26.6
2        183             64        0  23.3
3         89             66       94  28.1
4        137             40      168  43.1
..       ...            ...      ...   ...
763      101             76      180  32.9
764      122             70        0  36.8
765      121             72      112  26.2
766      126             60        0  30.1
767       93             70        0  30.4

[768 rows x 4 columns]

In [21]:
print(Y)

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

Train Test Split

In [22]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2, stratify=Y, random_state=2)

In [23]:
print(X.shape, X_train.shape, X_test.shape)

(768, 4) (614, 4) (154, 4)

Training the Model

In [24]:
classifier = svm.SVC(kernel='linear')

In [25]:
#training the support vector Machine Classifier
classifier.fit(X_train, Y_train)

SVC(kernel='linear')

Model Evaluation

Accuracy Score

In [26]:
# accuracy score on the training data
X_train_prediction = classifier.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [27]:
print('Accuracy score of the training data : ', training_data_accuracy)

Accuracy score of the training data :  0.762214983713355

In [28]:
# accuracy score on the test data
X_test_prediction = classifier.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [29]:
print('Accuracy score of the test data : ', test_data_accuracy)

Accuracy score of the test data :  0.7662337662337663

Making a Predictive System

In [30]:
diabetes_dataset.head()

   Glucose  BloodPressure  Insulin   BMI  Outcome
0      148             72        0  33.6        1
1       85             66        0  26.6        0
2      183             64        0  23.3        1
3       89             66       94  28.1        0
4      137             40      168  43.1        1

In [31]:
input_data = (166,72,175,25.8)

# changing the input_data to numpy array
input_data_as_numpy_array = np.asarray(input_data)

# reshape the array as we are predicting for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1) #predict Expected 2D array, got 1D array instead
#Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [38]:
prediction = classifier.predict(input_data_reshaped)
print(prediction)

if (prediction[0] == 0):
  print('The person is not diabetic')
else:
  print('The person is diabetic')

[1]
The person is diabetic

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  "X does not have valid feature names, but"

Saving the trained model

In [39]:
import pickle

In [40]:
filename = 'trained_model.sav'
pickle.dump(classifier, open(filename, 'wb'))